@tailwind base;
@tailwind components;
@tailwind utilities;



.section{
    background-color: rgb(85, 85, 171);
    background-image: url(../public/images/doctors.jpg);
    background-blend-mode:darken;
    background-size: cover;
}